.imgred {
    float: left;
    margin:10px;
    width: 100px;
    height: 100px;
}
.textred{
    background-color:#ddd;
    padding: 50px;
}
.ored{
    background-color: #FFFF66;
    width: 100%;
    padding: 20px;
    height: 120px;
    max-width: 960px;
  margin: 0 auto;
  vertical-align: middle;
    vertical-align: middle;
}

.footer{

    left:0;bottom: 0;
    padding: 10px;
    background: #36393e;
    color: blanchedalmond;
    width: 100%;
    font-size: 20px;
}
.osn{
    background-color:#FFFFCC;
    width: 700px;
  max-width: 960px;
  margin: 0 auto;
  vertical-align: middle;

}
#header{
    vertical-align: middle;;
}
.you_img_1 {
    background-image: url(../img/background.jpg);
    background-size: cover;
}